@page
@model MealPlanner.Pages.Recipes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Instructions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Instructions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.PrepTimeInMinutes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.PrepTimeInMinutes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.CookTimeInMinutes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.CookTimeInMinutes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Servings)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Servings)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Tags)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Tags)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Calories)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Calories)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.ProteinInGrams)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.ProteinInGrams)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.CarbsInGrams)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.CarbsInGrams)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.FatsInGrams)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.FatsInGrams)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Difficulty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Difficulty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.DateCreated)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Recipe.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
